{% extends "crm/layout.html" %}

{% block content %}

    <div class='container bg-dark shadow-lg p-5 form-layout rounded'>

        <h3 class="text-primary">Create Record</h3>

        <h6 class="text-muted">Please fill in the required details to create a new record.</h6>

        <hr>

        <form method='POST' autocomplete='off'>

            {% csrf_token %}

            <p>Enter First Name:</p>
            {{ form.first_name }} <br><br>

            <p>Enter Last Name:</p>
            {{ form.last_name }} <br><br>

            <p>Enter Email id:</p>
            {{ form.email }} <br><br>

            <p>Enter Phone number:</p>
            {{ form.phone }} <br><br>

            <p>Enter Address:</p>
            {{ form.address }} <br><br>

            <p>Enter City Name:</p>
            {{ form.city }} <br><br>

            <p>Enter State Name:</p>
            {{ form.state }} <br><br>

            <button type='submit' class='btn btn-success'>Create Record &nbsp;
                
            <i class='fa fa-check' aria-hidden='true'></i></button> &nbsp;

            <a href="{% url 'dashboard' %}" class='btn btn-secondary'>Return &nbsp;
            
            <i class='fa fa-arrow-left' aria-hidden='true'></i></a>

        </form>
    </div>

{% endblock %}